body {
    background:#fffbe7;
    color:#485268;
    font-family:sans-serif;
    font-size:18px;
    margin:auto;
    max-width:45rem;
}
    
h1 {
    color:#485268;
    font-family:"Georgia", serif;
    font-style:italic;
    margin:13px;
    text-align:center;
}
    
span.message-username {
    background:#485268;
    color:#fffced;
    font-size:80%;
    font-weight:bold;
    margin-right:7px;
    padding:5px;
}
    
span.message-content {
    color:#485268;
}
    
div.messagebox {
    background:#fffced;
    border:2px solid #eee6c1;
    height:500px;
    padding:18px;
}


div.message {
    line-height:150%;
}

div.message + div.message {
    margin-top:13px;
}

div.message-compose-form {
    margin-top: 25px;
    vertical-align: top;
}

div.refresh-form {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.message-compose-form label {
    font-size: 80%;
}

div.message-compose-form div {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.fullwidth {
    width: 100%;
}

